html,
body {
  height: 100%
}

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500&display=swap');

.navbar {
    background-color: #414042 !important;
}

.navbar-brand {
    color: #F7BF5F !important;
    font-size: 30px;
    font-family: 'Abhaya Libre', serif;
}

.navbar-link {
    font-size: 28px;
    color: whitesmoke !important;
    font-family: 'Abhaya Libre', serif;
}

.navbar-link:hover {
    color: #F7BF5F !important;
}
