@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500&display=swap');

.navbar {
    background-color: #414042 !important;
}

.navbar a {
    font-size: 28px;
    color: #F7BF5F !important;
    font-family: 'Abhaya Libre', serif;
}