.navbar {
    z-index: 100;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.nav {
    margin-top:10%;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}


.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #F7BF5F;
    background-color: #414042;
    border-color: #dee2e6 #dee2e6 #fff;
}

h3 {
    color: #414042;
}

.title-author {
    color: #F7BF5F;
}

.btn {
    background-color: #F7BF5F;
    color:whitesmoke;
    font-size: 20px;
}

.form-control:focus {
    border-color: #F7BF5F;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F7BF5F;
}